<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Anna Sezen">
  <meta name="description" lang="en" content="e-commerce website">
  <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/>
  <title>Catalog</title>
  <link rel="stylesheet" href="./css/icomoon.css"><!--icon fonts-->
  <link rel="stylesheet" href="./css/normalize.css"><!--normalize styles-->
  <link rel="stylesheet" href="./css/main.css"><!--main styles-->
</head>
<body>
  
  <!--Start page`s header block-->
  <header class="header">
    <div class="container">
      <div class="mobile-wrapper">
        <div class="wrap wrap-logo">
          <!--Header logos-->
          <div class="header__logo desktop-logo">
            <a href="index.html" class="logo" accesskey="t">Template</a>
          </div>
          <div class="header__logo mobile-logo">
            <a href="index.html" class="logo" accesskey="t">TL</a>
          </div>
          <!--Header`s logos end-->
          <!--Header`s auth link and shopping bag link-->
          <div class="auth-cart">
            <!--auth link-->
            <div class="auth">
              <a href="#">E-mail sing up</a>
            </div>
            <!--shopping bag link-->
            <div class="cart">
              <a href="./shopping-cart.html" accesskey="c">
                <span class="cart__img icon-shopping-bag"></span>
                <span>Bag </span><span id="bag-price"></span> (<span id="bag-quantity">0</span>)
              </a>
            </div>         
          </div>
          <!--Header`s auth link and shopping cart link end-->
        </div>
        <!--Header`s burger menu-->
        <div id="burger-btn" class="burger-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <!--Header`s burger menu end-->
      </div>        
      <div id="header-menu" class="wrap wrap-menu">
        <!--Header`s navigation-->
        <nav class="header__nav">
          <ul class="nav__links">
            <li class="nav__link"><a href="#">women</a></li>
            <li class="nav__link"><a href="#">men</a></li>
            <li class="nav__link"><a href="#">handbags</a></li>
            <li class="nav__link"><a href="#">Accessories</a></li>
            <li class="nav__link"><a href="#">Sale</a></li>
            <li class="nav__link"><a href="#">New Arrivals</a></li>
            <li class="nav__link"><a href="#">Clearance</a></li>
            <li class="nav__link"><a href="#">Store Locator</a></li>
          </ul>
        </nav>
        <!--Header`s navigation end-->
        <!--Header`s search form-->
        <form class="search" id="search">
          <input id="search__input" class="search__input" type="text" placeholder="style name">
          <button class="search__btn" type="submit" accesskey="s">
            <span class="icon-search"></span>
          </button>
        </form>
        <!--Header`s search form end-->
      </div>      
    </div>
  </header>
  <!--Start page`s header end-->

  <!--content wrapper start-->
  <div class="content-wrapper">
    
    <!--Start page`s filters block-->
    <div class="filters-container">
      <div class="catalog-controls wrapper">
        <div class="filters" id="filters">
          <div id="catalog-filters" class="filters-mobile__wrapper">
            <div class="container">
              <!--filters categories for tablet/mobile-->
              <div class="filter-mobile">
                <ul class="filter-mobile__list">
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="fashion">Fashion</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="producttype">Product type</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="color">Color</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="brand">Brand</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="size">Size</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="pricerang">Price rang</span>
                    </a>
                  </li>
                </ul>              
                <div id="filters-cross" class="filters-cross">
                  <span class="icon-arrow_drop_down dropdown-arrow"></span>
                  <span class="icon-cancel"></span>
                </div>
              </div>
              <!--filters categories for tablet/mobile end-->
            </div>          
          </div>
          <!--filters categories-->
          <ul id="filters-list" class="filters__list">
            <!--renders from js-->
          </ul>
          <!--filters categories end-->
        </div>          
      </div>
    </div>
    <!--Start page`s filters block end-->
  
    <!--Start page`s main block-->
    <main class="catalog__main">
      <!--catalog cards-->
      <div class="cards catalog__cards container" id="catalog-cards">
        <!--<div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women4.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Only Skinny Jeans</div>
            <div class="card__price">£65.50</div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/arrival_4.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Neck Knitted Jumper</div>
            <div class="card__price">£76.25</div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/arrival_1.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Turtle Neck Jumper in Rib</div>
            <div class="card__price">£130.25 <span class="catalog__category">New</span></div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women5.png" alt="catalog photoo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">With Patchwork Crochet</div>
            <div class="card__price">£80.60</div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women7.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Levi’s Jeans for women</div>
            <div class="card__price"><span class="catalog__category">More colours</span></div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women8.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Boyfriend T-Shirt with Bohemian Print</div>
            <div class="card__price"><span class="catalog__category">£120.00 - 25% </span>£90.00</div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women9.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Colour Block</div>
            <div class="card__price">£550.50</div>
          </div>
        </div>
        <div class="card">
          <a href="#" class="card__img">
            <img src="./img/women10.png" alt="catalog photoo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Monki Festval Knitted</div>
            <div class="card__price">£24.75</div>
          </div>
        </div>       
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/arrival_3.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Oversized Cardigan</div>
            <div class="card__price">£90.00</div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women11.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Paul & Joe Sister Jumper 
              with Neon Trims</div>
            <div class="card__price">£19.75 <span class="catalog__category">New</span></div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women12.png" alt="catalog photo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Only Busted Knee Jean</div>
            <div class="card__price">£140.50</div>
          </div>
        </div>
        <div class="card">
          <a href="./item.html" class="card__img">
            <img src="./img/women13.png" alt="catalog photoo">
            <div class="card__link">View item</div>
          </a>
          <div class="card__text">
            <div class="card__desc">Boyfriend T-Shirt with Bohemian Print</div>
            <div class="card__price">£85.75</div>
          </div>
        </div>-->
      </div>
      <!--catalog cards end-->
      <!--catalog special price block-->
      <div class="special-price">
        <h3 class="special-price__title">
          <a href="#">Last weekend <span class="text-red">extra 50%</span> off on all reduced boots and shoulder bags</a>
        </h3>
        <h4 class="special-price__text">
          <a href="#">This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer ends at 11:59 GMT on March 1st 2015</a>
        </h4>
      </div>
      <!--catalog special price block end-->
      <button class="catalog__btn btn">Show more</button>
    </main>
    <!--Start page`s main block end-->

    <!--Start page`s promo banners block-->
    <div class="promos catalog__promos wrapper">
      <!--big banner-->
      <div class="promo">
        <a href="#" class="promo__img">
          <img src="./img/catalog_banner1.jpg" alt="catalog promo image">
          <div class="promo__text">
            <h3 class="promo__title">adidas blue</h3>
            <h4 class="banner__category">For men</h4>
          </div>
        </a>
      </div>
      <!--big banner end-->
      <!--small banners-->
      <div class="promo promos-wrap">
        <!--small banner #1-->
        <div class="promo-small promo-repair">
          <a href="#" class="promo-small__img">
            <img src="./img/catalog_banner2.png" alt="catalog promo image">
            <div class="promo-small__text">
              <h3 class="promo__title">repair patchies</h3>
              <h4 class="banner__category">£150.50
              </h4>
            </div>
          </a>
        </div>
        <!--small banner #1 end-->
        <!--small banner #2-->
        <div class="promo-small promo-sale">
          <a href="#" class="promo-small__img">
            <img src="./img/catalog_banner3.png" alt="catalog promo image">
            <div class="promo-small__text">
              <h3 class="promo__title text-red">sale</h3>
              <h4 class="banner__category">-70%
              </h4>
            </div>
          </a>
        </div>
        <!--small banner #2 end-->
      </div>
      <!--small banners end-->          
    </asid>
    <!--Start page`s promo banners block end-->

  </div>
  <!--content wrapper end-->

  <!--Start page`s additions block-->
  <div class="additions-wrapper">
    <div class="additions container">
      <!--adittion navigation-->
      <div class="navigation">
        <!--navigation`s Quick Links block-->
        <nav class="pages__nav">
          <h3 class="pages__title additions__title">Quick Links</h3>
          <ul class="pages__links">
            <li class="pages__link"><a href="#">Store locator</a></li>
            <li class="pages__link"><a href="#">Gift cards</a></li>
            <li class="pages__link"><a href="#">Size guide</a></li>
            <li class="pages__link"><a href="#">About us</a></li>
            <li class="pages__link"><a href="#">Support</a></li>
          </ul>
        </nav>
        <!--navigation`s Quick Links block end-->
        <!--navigation`s Customer Care block-->
        <nav class="customer__nav">
          <h3 class="customer__title additions__title">Customer Care</h3>
          <ul class="customer__links">
            <li class="customer__link"><a href="#">Customer service</a></li>
            <li class="customer__link"><a href="#">Track my order</a></li>
            <li class="customer__link"><a href="#">Return policy</a></li>
            <li class="customer__link"><a href="#">Shipping & delivery</a></li>
            <li class="customer__link"><a href="#">Contact us</a></li>
            <li class="customer__link"><a href="#">Careers</a></li>
          </ul>
        </nav>
        <!--navigation`s Customer Care block end-->
      </div>
      <!--adittion navigation end-->
      <!--adittion contacts block-->
      <div class="contacts">
        <div class="contacts__way">
          <!--contacts by twitter-->
          <div class="contacts__twit">
            <h3 class="additions__title twit__title">Questions</h3>
            <a href="https://twitter.com/">
              <div class="twit__text">
                <span class="icon-social-twitter twit__logo"></span>
                Tweet us @template
              </div>
            </a>            
          </div>
          <!--contacts by phone-->
          <div class="contacts__phone">
            <h3 class="additions__title phone__title">Order by phone</h3>
            <div class="phone__text">
              <a href="tel:88004094712">8-800-409-47-12</a>
            </div>
          </div>
        </div>
        <!--contact`s delivery info-->
        <div class="contacts__delivery">
            We have our own delivery service which operates in 23 major European cities. Delivery time - 3-5 days.
        </div>
        <!--socials block for desktop/tablet-->
        <div class="contacts__socials">
          <a href="https://www.facebook.com/" class="socials__fb">
            <span class="icon-social-facebook"></span>
          </a>
          <a href="https://twitter.com/" class="socials__twit">
            <span class="icon-social-twitter"></span>
          </a>
        </div>
        <!--socials block for desktop/tablet end-->
      </div>
      <!--adittion contacts block end-->
    </div>      
  </div>
  <!--Start page`s additions block end-->
  
  <!--Start page`s footer-->
  <footer class="footer-wrapper">
    <div class="footer container">
      <!--footer copyrights-->
      <div class="footer__copyrights">
        &copy; 2010–2019, The Template Group inc.
      </div>
      <!--footer share count-->
      <div class="footer__share">share
        <span class="shares__number">1 437</span>
      </div>
      <!--socials block for mobile-->
      <div class="footer__socials">
        <a href="https://www.facebook.com/" class="socials__fb">
          <span class="icon-social-facebook"></span>
        </a>
        <a href="https://twitter.com/" class="socials__twit">
          <span class="icon-social-twitter"></span>
        </a>
      </div>
      <!--socials block for mobile end-->
      <!--footer navigation-->
      <nav class="footer__nav">
        <ul class="nav__items">
          <li class="nav__item"><a href="#">Legal notice</a></li>
          <li class="nav__item"><a href="#">Privacy policy</a></li>
          <li class="nav__item"><a href="#">Site map</a></li>
        </ul>
      </nav>
      <!--footer navigation end-->
    </div>      
  </footer>
  <!--Start page`s footer end-->
  
  <!--JavaScript-->
  <script src="./js/lodash.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/catalog.js"></script>
  <!--JavaScript end--> 

</body>
</html>