<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Anna Sezen">
  <meta name="description" lang="en" content="e-commerce website">
  <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/>
  <title>Women</title>
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="mobile-wrapper">
          <div class="wrap wrap-logo">
            <div class="header__logo desktop-logo">
              <a href="index.html" class="logo">Template</a>
            </div>
            <div class="header__logo mobile-logo">
              <a href="index.html" class="logo">TL</a>
            </div>
            <div class="auth-cart">
              <div class="auth">
                <a href="#">E-mail sing up</a>
              </div>
              <div class="cart">
                <a href="./shopping-cart.html">
                  <img src="./img/shopping_bag.png" alt="shopping bag img" class="cart__img">
                  <span>Bag </span><span id="bag-price"></span> (<span id="bag-quantity">0</span>)
                </a>
              </div>         
            </div>
          </div>
          <div id="burger-btn" class="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>        
        <div id="burger-menu" class="wrap wrap-menu">
          <nav class="header__nav">
            <ul class="nav__links">
              <li class="nav__link text-red"><a href="#">women</a></li>
              <li class="nav__link"><a href="#">men</a></li>
              <li class="nav__link"><a href="#">handbags</a></li>
              <li class="nav__link"><a href="#">Accessories</a></li>
              <li class="nav__link"><a href="#">Sale</a></li>
              <li class="nav__link"><a href="#">New Arrivals</a></li>
              <li class="nav__link"><a href="#">Clearance</a></li>
              <li class="nav__link"><a href="#">Store Locator</a></li>
            </ul>
          </nav>
          <form class="search" id="search">
            <input id="search__input" class="search__input" type="text" placeholder="style name">
            <button class="search__btn" type="submit"><img src="./img/header_ico.png" alt="search button"></button>
          </form>
        </div>      
      </div>
    </header>
    <div class="catalog-controls">
        <div class="filters" id="filters">
          <div id="catalog-filters" class="filters-mobile__wrapper">
            <div class="container">
              <div class="filter-mobile">
                <ul class="filter-mobile__list">
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="fashion">Fashion</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="producttype">Product type</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="color">Color</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="brand">Brand</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="size">Size</span>,
                    </a>
                  </li>
                  <li class="filter-mobile__item">
                    <a href="#">
                      <span id="pricerang">Price rang
                    </a>
                  </span></li>
                </ul>
                <img class="dropdown-arrow" src="./img/dropdown_arrow.png" alt="dropdown arrow for failters menu">
                <div id="filters-cross" class="filters-cross">
                  <img src="./img/red-cross.png" alt="">
                </div>
              </div>
            </div>          
          </div>
          <ul id="filters-list" class="filters__list">
            <!--rendering from js-->
          </ul>
        </div>          
      </div>
    <main class="catalog__main">
      <div class="cards catalog__cards" id="catalog-cards">
        
      </div>
      <div class="special-price">
        <h3 class="special-price__title">
          <a href="#">Last weekend <span class="text-red">extra 50%</span> off on all reduced boots and shoulder bags</a>
        </h3>
        <h4 class="special-price__text">
          <a href="#">This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer ends at 11:59 GMT on March 1st 2015</a>
        </h4>
      </div>
      <button class="catalog__btn btn">Show more</button>
    </main>
    <div class="promos catalog__promos">
      <div class="promo">
        <div class="promo__text">
          <h3 class="promo__title">adidas blue</h3>
          <h4 class="banner__category">For men</h4>
        </div>
        <a href="#" class="promo__img">
          <img src="./img/catalog_banner1.jpg" alt="catalog promo image">
        </a>
      </div>
      <div class="promo promos-wrap">
        <div class="promo-small promo-repair">
          <div class="promo-small__text">
            <h3 class="promo__title">repair patchies</h3>
            <h4 class="banner__category">£150.50
            </h4>
          </div>
          <a href="#" class="promo-small__img">
            <img src="./img/catalog_banner2.png" alt="catalog promo image">
          </a>
        </div>
        <div class="promo-small promo-sale">
          <div class="promo-small__text">
            <h3 class="promo__title text-red">sale</h3>
            <h4 class="banner__category">-70%
            </h4>
          </div>
          <a href="#" class="promo-small__img">
            <img src="./img/catalog_banner3.png" alt="catalog promo image">
          </a>
        </div>
      </div>          
    </div>
    <div class="additions-wrapper">
      <div class="additions container">
        <div class="navigation">
          <div class="pages__nav">
            <h3 class="pages__title additions__title">Quick Links</h3>
            <ul class="pages__links">
              <li class="pages__link"><a href="#">Store locator</a></li>
              <li class="pages__link"><a href="#">Gift cards</a></li>
              <li class="pages__link"><a href="#">Size guide</a></li>
              <li class="pages__link"><a href="#">About us</a></li>
              <li class="pages__link"><a href="#">Support</a></li>
            </ul>
          </div>
          <div class="customer__nav">
            <h3 class="customer__title additions__title">Customer Care</h3>
            <ul class="customer__links">
              <li class="customer__link"><a href="#">Customer service</a></li>
              <li class="customer__link"><a href="#">Track my order</a></li>
              <li class="customer__link"><a href="#">Return policy</a></li>
              <li class="customer__link"><a href="#">Shipping & delivery</a></li>
              <li class="customer__link"><a href="#">Contact us</a></li>
              <li class="customer__link"><a href="#">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="contacts">
          <div class="contacts__way">
            <div class="contacts__twit">
              <h3 class="additions__title twit__title">Questions</h3>
              <a href="#">
                <div class="twit__text">
                  <img src="./img/twit.png" alt="twitter logo" class="twit__logo">
                  Tweet us @template
                </div>
              </a>            
            </div>
            <div class="contacts__phone">
              <h3 class="additions__title phone__title">Order by phone</h3>
              <div class="phone__text">
                <a href="#">8-800-409-47-12</a>
              </div>
            </div>
          </div>
          <div class="contacts__delivery">
              We have our own delivery service which operates in 23 major European cities. Delivery time - 3-5 days.
          </div>
          <div class="contacts__socials">
            <a href="#" class="socials__fb">
              <img src="./img/fb.png" alt="facebook logo">
            </a>
            <a href="#" class="socials__twit">
              <img src="./img/twit_blue.png" alt="twitter logo">
            </a>
          </div>
        </div>
      </div>      
    </div>
    <footer class="footer-wrapper">
      <div class="footer container">
        <div class="footer__copyrights">© 2010–2015, The Template Group inc.</div>
        <div class="footer__share">share<span class="shares__number">1 437</span></div>
        <div class="footer__socials">
          <a href="#" class="socials__fb">
            <img src="./img/fb.png" alt="facebook logo">
          </a>
          <a href="#" class="socials__twit">
            <img src="./img/twit_blue.png" alt="twitter logo">
          </a>
        </div>
        <div class="footer__nav">
          <ul class="nav__items">
            <li class="nav__item"><a href="#">Legal notice</a></li>
            <li class="nav__item"><a href="#">Privacy policy</a></li>
            <li class="nav__item"><a href="#">Site map</a></li>
          </ul>
        </div>
      </div>      
    </footer>
  </div>
  <script src="./js/common.js"></script>
  <script src="./js/catalog.js"></script>
  <script src="./js/women.js"></script>
</body>
</html>